body {
    background-color: #FFDAB9;
    padding: 0;
    margin: 0;
}

.mainBlok {
    position: fixed;
    top: 0;
}
.left {
    margin-top:-10px;
    float: left;

}
.right {
    margin-top:-9px;
    float: right;
}
