body {
    background-color: #FFDAB9;
    padding: 0;
    margin: 0;
}

.mainBlok {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 60px;
    background-color: #ff9966;
    border: 1px solid black;
}
