body {
    background-color: #FFDAB9;
    padding: 0;
    margin: 0;
}
#show {
    margin-top:10px;
    margin-left:10px;
    width: 170px;
    height: 30px;
}
.blok {
    margin-top:10px;
    margin-left:10px;
    width:200px;
    height:310px;
    background-color:green;
    border:1px solid black;
}
.blok1{
    margin-top:10px;
    margin-left:10px;
    width: 140px;
    height: 200px;
}
.blok1_1 {
    margin-top:10px;
    width: 40px;
    height: 40px;
}
.blok1_zero {
    margin-top: 10px;
    width: 128px;
    height: 40px;
}
.blok2{
    margin-top:-216px;
    margin-left:143px;
    width: 40px;
    height: 200px;

}
.blok2_1{
    margin-top:10px;
    width: 40px;
    height: 40px;
}

.blok3_1{
    float:left;
    margin-top:-10px;
    margin-left:10px;
    width: 128px;
    height: 40px;
}
.blok4{
    margin-top:-10px;
    margin-left:143px;
    width: 40px;
    height: 40px;
}
.blok4_1{
    width: 40px;
    height: 40px;
}









