<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Домашняя</title>
        <th:block th:insert="connectionCss :: connectionCss"/> <!--"подключение цсс"-->
    </head>
    <body>
    <div>
        <h1><th:block th:insert="connectionMainMenu :: connectionMainMenu"/></h1>
    </div>
    <br>
        <div class="home">
            <h1> Логин:   <label th:text="${login}"></label></h1>

            <h1> Пароль:   <label th:text="${password}"></label></h1>

            <h1> Емаил:   <label th:text="${email}"></label></h1>

        </div>
    </body>
</html>